---
- name: general stuff to install
  hosts: all
  remote_user: sudo
  become: true

  tasks:
    - name: get update
      apt:
        upgrade: yes
        update_cache: yes

    - name: install pip
      shell: sudo apt-get install python3.6

    - name: install java ppa
      shell: sudo add-apt-repository ppa:openjdk-r/ppa

    - name: update repo
      shell: sudo apt-get update

    - name: install java
      shell: sudo apt-get install openjdk-8-jdk -y

    - name: install jre
      shell: sudo apt install openjdk-8-jre-headless
    # - name: adding aws AWS_server
    #   add_host:
    #     name: AWS_server
    #     ansible_host: 34.255.121.187
    #     ansible_user: ubuntu
    #     ansible_ssh_private_key_file: /home/Vagrant/.ssh/awsk

    # - name: awstheinitialplaybook
    #   hosts: AWS_server
    #   remote_user: sudo
    #   become: true
    #   vars:
    #     ansible_distribution_release: "xenial"

#- name: general stuff to install
#  hosts: AWS_server
#  remote_user: sudo
#  become: true
#  tasks:
#    - name: get update
#      apt:
#        upgrade: yes
#        update_cache: yes
#
#    - name: stuff for app
#      hosts: app
  #    remote_user: sudo
    #   become: yes
    #
    # - name: install git
    #   apt:
    #     name: git
    #     state: present
    #     update_cache: yes
    #
    # - name: install software properties common
    #   shell: apt-get install software-properties-common -y
      shell: sudo apt-get install python3-pip -y

    - name: install atomicwrites
      shell: pip3 install atomicwrites

    - name: install attrs
      shell: pip3 install attrs

    - name: install beautifulsoup4
      shell : pip3 install beautifulsoup4

    - name: install certifi
      shell: pip3 install certifi

    - name: install chardet
      shell: pip3 install chardet

    - name: install idna
      shell: pip3 install idna

    - name: install importlib-metadata
      shell: pip3 install importlib-metadata

    - name: install more-itertools
      shell: pip3 install more-itertools

    - name: install packaging
      shell: pip3 install packaging

    - name: install pluggy
      shell: pip3 install pluggy

    - name: install py
      shell: pip3 install py

    - name: install pyparsing
      shell: pip3 install pyparsing

    - name: install pytest
      shell: pip3 install pytest

    - name: install requests
      shell: pip3 install requests

    - name: install six
      shell: pip3 install six

    - name: install soupsieve
      shell: pip3 install soupsieve

    - name: install urllib3
      shell: pip3 install urllib3

    - name: install wcwidth
      shell: pip3 install wcwidth

    - name: install zipp
      shell: pip3 install zipp

    - name: install bs4
      shell: pip3 install bs4

    - name: install Pycharm part 1
      shell: sudo apt install snapd snapd-xdg-open -y

    - name: install pycham
      shell: sudo snap install pycharm-community --classic
